<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FutbolReviews4U</title>
</head>
<body>
    <h1>Edit Review</h1>
    <form action="/players/<%= player._id; %>?_method=PUT" method="POST">
        Image: <input type="url" name="img" value="<%=player.img%>">
        Name: <input type="text" name="name" value="<%=player.name%>">
        Country: <input type="text" name="country" value="<%=player.country%>">
        Team: <input type="text" name="team" value="<%=player.team%>">
        Position: <input type="text" name="position" value="<%=player.position%>">
        Retired: <input type="checkbox" name="retired" <% if(player.retired === true){ %> checked <% } %> />
        Rating: <input type="text" name="rating" value="<%=player.rating%>">
        Review: <textarea name="review"></textarea>
        Author: <input type="text" name="author" value="<%=player.author%>">
        <input type="submit" value="Submit Changes">
    </form>
</body>
</html>