<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <title>FutbolReviews4U</title>
</head>
<body>
    <center><a id="backhome" href="/players">Back to Home</a></center>
    <h1>Edit Review</h1>

    <fieldset>
        <form action="/players/<%= player._id; %>?_method=PUT" method="POST">
            <h4>Image:</h4> <input type="url" name="img" value="<%=player.img%>">
            <h4>Name:</h4> <input type="text" name="name" value="<%=player.name%>">
            <h4>Country:</h4> <input type="text" name="country" value="<%=player.country%>">
            <h4>Team:</h4> <input type="text" name="team" value="<%=player.team%>">
            <h4>Position:</h4> <input type="text" name="position" value="<%=player.position%>">
            <h4>Retired:</h4> <input type="text" name="retired" value="<%=player.retired%>">
            <h4>Rating:</h4> <input type="text" name="rating" value="<%=player.rating%>">
            <h4>Review:</h4> <input type="text" name="review" value="<%=player.review%>">
            <h4>Author:</h4> <input type="text" name="author" value="<%=player.author%>">
            <br/>
            <br/>
            <input id="editbutton" type="submit" value="Submit Changes">
        </form>
    </fieldset>
    
    <footer>
        <center><p class="footer"><strong>⚽️ FutbolReviews4U ⚽️</strong></p></center>
    </footer>
</body>
</html>
