<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/style.css" rel="stylesheet" type="text/css">
		<title>FutbolReviews4U</title>
	</head>
	<body>
        <div class="main-container">
            <header>
                <h1><img id="soccerballgif" src="https://i.imgur.com/PbhsyVs.gif">FutbolReviews4U<img id="soccerballgif" src="https://i.imgur.com/PbhsyVs.gif"></h1>
            </header>

			<nav>
				<ul>
					<li><a href="https://www.premierleague.com/"target="_blank">Premier League</a></li>|
					<li><a href="https://www.laliga.com/en-GB"target="_blank">LaLiga</a></li>|
					<li><a href="https://www.legaseriea.it/it/"target="_blank">Serie A</a></li>|
					<li><a href="https://www.ligue1.com/"target="_blank">Ligue 1</a></li>|
					<li><a href="https://www.bundesliga.com/en/bundesliga"target="_blank">Bundesliga</a></li>
				</ul>
			</nav>

			<center><img src="https://media.giphy.com/media/12Vujj7Zh7dTPy/giphy.gif"/> </center>
			<br/>

			<nav>
			<a href="/new" id="createReview">Create Review</a>
			</nav>
			<br/>
			
            <div class="page-container">
			<% players.forEach(player => { %>
				<div><h2><%=player.name%></h2>
				<a href="/<%=player._id; %>"><img id="playerImage" src="<%=player.img; %>"></a> <br/>
				<a id="edit" href="/<%= player._id %>/edit">Edit this Review</a>
				<form action="/<%=player.id; %>?_method=DELETE" method="POST">
					<input type="submit" value="DELETE" />
				</form>
				</div>
			<% }) %>
            </div>

		<footer>
			<center><p><strong>⚽️ FutbolReviews4U ⚽️</strong></p></center>
		</footer>

		</div>
	</body>
</html>