<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>FutbolReviews4U</title>
	</head>
	<body>
        <div class="main-container">
            <header>
                <a href="/players/new">Create Review</a>
                <h1>FutbolReviews4U</h1>  
            </header>
            <div class="page-container">
			<% players.forEach(player => { %>
				<h2><%=player.name%></h2>
				<a href="/players/<%=player._id; %>"><img src="<%=player.img; %>"></a> <br/>
				<a id="edit" href="/players/<%= player._id %>/edit">Edit this Review</a>
				<form action="/players/<%=player.id; %>?_method=DELETE" method="POST">
					<input type="submit" value="DELETE" />
				</form>
			<% }) %>
            </div>
		</div>
	</body>
</html>