<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FutbolReview4U</title>
</head>
<body>
    <nav>
        <a href="/players">Back to Home</a>
    </nav>
        <img src="<%=player.img%>"/>
        <h1><%=player.name%></h1>
        <p>Review: <%=player.review%></p>
        <p>Country: <%=player.country%></p>
        <p>Team: <%=player.team%></p>
        <p>Position: <%=player.position%></p>
        <p>Rating: <%=player.rating%></p>
        <p>Author: <%=player.author%></p>
</body>
</html>